body{
  margin: 5em;
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top: 5px solid black;
  width: 800px;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
  color: gray;
  font-style: italic;
  border-bottom: 5px solid black;
  width: 800px;
}

a{font-weight: bold;
  text-decoration: none;
}

li{list-style-type: none;
}

img{width: 1em;
}

header{border-bottom: 1px solid black;
       width: 800px;
}